.df {
    display: flex;
}

.dfr {
    display: flex;
    flex-direction: row-reverse;
}

.about-card-container {
    justify-content: space-between;
    gap: 1.5rem;
}

.about-card-container .box-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.2rem;
    width: 100%;
    height: auto;
}

.about-card-container .box-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
}

.color-card{
    width: 450px;
    height: 450px;
    background: radial-gradient(#ffe500,#ffa800);
    border-radius: 2.5rem;
    box-shadow: 0px 0px 150px #FFA800;
}

.box-1 h1 {
    font-size: 2rem;
    font-weight: 700;
    color: white;
    width: 500px;
    @media screen and (max-width:765px) {
        font-size: 24px;
        width: 390px;
    }
}

.box-1 p {
    font-size: 1rem;
    font-weight: 500;
    color: #ffffff75;
    width: 80%;
}

@media screen and (max-width:765px) {
    .about-card-container {
        flex-direction: column-reverse;
    }

    .box-2 .color-card {
        width: 100%;
    }
}