@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
.App {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  font-family: 'Questrial', sans-serif;
  user-select: none;
  background: #ececec;
}